<div class="text-light">
    <h1>Select a project</h1>
    <div class="projectView">
        <table class="table text-dark bg-light">
            <thead>
                <tr>
                    <th scope="col">Project Number</th>
                    <th scope="col">Project Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projectList">
                    <input class="invisible" type="text">
                    <th scope="row">{{$index + 1}}</th>
                    <td>{{ project.projectName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>