<div class="container">
    <div class="row">
        <div class="card col-3 bg-dark projectCount m-2" style="width: 18rem;">
            <svg class="card-img-top bg-dark p-3" xmlns="http://www.w3.org/2000/svg" width="50" height="100" viewBox="0 0 24 24" style="fill:rgb(255, 255, 255);transform:;-ms-filter:">
                <path
                    d="M20 6h-3V4c0-1.103-.897-2-2-2H9C7.897 2 7 2.897 7 4v2H4C2.897 6 2 6.897 2 8v3h20V8C22 6.897 21.103 6 20 6zM9 4h6v2H9V4zM14 14h-4v-2H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-8V14z">
                </path>
            </svg>
            <div class="card-body bg-dark text-white">
                <h3 class="card-title text-green">Projects</h3>
                <h5 class="card-text">
                    <b>
                        {{ projectCount }} 
                    </b>
                </h5>
            </div>
        </div>
        <div class="card col-3 bg-dark targetCount m-2" style="width: 18rem;">
            <svg class="card-img-top bg-dark p-3" xmlns="http://www.w3.org/2000/svg" width="50" height="100" viewBox="0 0 24 24" style="fill:rgb(255, 255, 255);transform:;-ms-filter:"><circle cx="12" cy="12" r="3"></circle><path d="M13,4.069V2h-2v2.069C7.389,4.522,4.522,7.389,4.069,11H2v2h2.069c0.453,3.611,3.319,6.478,6.931,6.931V22h2v-2.069 c3.611-0.453,6.478-3.319,6.931-6.931H22v-2h-2.069C19.478,7.389,16.611,4.522,13,4.069z M12,18c-3.309,0-6-2.691-6-6s2.691-6,6-6 s6,2.691,6,6S15.309,18,12,18z"></path></svg>
            <div class="card-body bg-dark text-white justify-content-center">
                <h3 class="card-title text-green">Targets</h3>
                <h5 class="card-text">
                    <b>
                        {{ targetCount }}
                    </b>
                </h5>
            </div>
        </div>
    </div>
</div>